body {
	color: white;
}

a {
	padding: 5px;
	margin: 2px;
	color: gold;
	text-decoration: none;
	font-size: 20px;
}

#controls {
	background-color: rgba(0,0,0, 0.5);
	width: 250px;
	text-align: center;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 5px;
	margin: 0 auto;
}

#stopwatch {
	background-color: rgba(0,0,0, 0.6);
	width: 250px;
	text-align: center;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 5px;
	margin: 0 auto;
	font-size: 30px;
}